<main>
    <h2>Lista para Derrotar a Vecna</h2>
    {{!-- {{#each result}}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="#" class="img-fluid rounded-start" alt="foto de perfil">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ txtName }}</h5>
                    <p class="card-text">{{ txtCharacter }}.</p>
                    <p class="card-text"><small class="text-muted">{{ txtEstado }}</small></p>
                </div>
            </div>
        </div>
    </div>
    {{/each}} --}}
    {{#each result}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ txtName }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ txtEstado}}</h6>
            <p class="card-text">{{ txtCharacter}}.</p>
            <a href="/editar/{{_id}}" class="card-link">Editar</a>
            <a href="#" class="card-link">Eliminar</a>
        </div>
    </div>
    {{/each}}
</main>